"# Terraform ignore rules" 
"**/.terraform/*" 
"*.tfstate" 
"*.tfstate.*" 
"*.tfstate.backup" 
"crash.log" 
"crash.*.log" 
"*.tfvars" 
"*.tfvars.json" 
"*.plan" 
"*.tfplan" 
"plan.out" 
"override.tf" 
"override.tf.json" 
"*_override.tf" 
"*_override.tf.json" 
"*.exe" 
"*.dll" 
"*.so" 
"*.dylib" 
".terraform.lock.hcl" 
